<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置的是UserFactoryBean，但ioc容器管理的是User -->
    <bean class="usts.pycro.spring.test.factory.UserFactoryBean"/>
</beans>