<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="stu1" class="usts.pycro.spring.test.pojo.Student"/>
    <bean id="stu2" class="usts.pycro.spring.test.pojo.Student">
        <!--
         property：通过成员变量的set方法进行赋值
         name：设置需要赋值的成员变量的属性名（和set方法有关）
         value：设置为属性所赋的值
         -->
        <property name="sid" value="1001"/>
        <property name="sname" value="张三"/>
        <property name="gender" value="男"/>
    </bean>

    <bean id="stu3" class="usts.pycro.spring.test.pojo.Student">
        <!--
         constructor-arg：通过构造器参数的方式进行赋值
         value：设置为属性要赋的值
         name：设置属性名
         -->
        <constructor-arg value="1002"/>
        <constructor-arg value="李四"/>
        <constructor-arg value="女"/>
        <constructor-arg value="24" name="score"/>
    </bean>

    <bean id="stu4" class="usts.pycro.spring.test.pojo.Student">
        <property name="sid" value="1003"/>
        <!--
         特殊字符：
         <：&lt;
         >：&gt;
         CDATA节：可以表示纯文本数据，其中C表示Character   <![CDATA[...]]>
         CADTA节是xml中的一个特殊标签，不能写在属性中
         -->
        <!-- <property name="sname" value="&lt;王五&gt;"/> -->
        <property name="sname">
            <value><![CDATA[<王五>]]></value>
        </property>
        <!--
         在property标签中设置null标签，让该属性的值为null
         -->
        <property name="gender">
            <null/>
        </property>
    </bean>


    <bean id="stu5" class="usts.pycro.spring.test.pojo.Student">
        <property name="sid" value="1004"/>
        <property name="sname" value="陈六"/>
        <property name="gender" value="男"/>
        <property name="age" value="25"/>
        <!-- ref：引用配置文件中某个bean的id -->
        <!-- <property name="clazz" ref="clazz1"/> -->
        <!-- 级联方式：要求类属性被初始化，否则报错 -->
        <!-- <property name="clazz.cid" value="02"/> -->
        <!-- <property name="clazz.cname" value="末班"/> -->
        <!-- 内部bean：在property标签内部创建bean，只能在当前bean的内部使用，不能通过IoC容器获取 -->
        <property name="clazz">
            <bean class="usts.pycro.spring.test.pojo.Clazz">
                <property name="cid" value="03"/>
                <property name="cname" value="姚班"/>
            </bean>
        </property>
        <property name="hobby">
            <array>
                <value>唱跳</value>
                <value>Rap</value>
                <value>篮球</value>
            </array>
        </property>
        <!-- <property name="teacherMap"> -->
        <!--     <map> -->
        <!--         <entry key="tOne" value-ref="t1"/> -->
        <!--         <entry key="tTwo" value-ref="t2"/> -->
        <!--         <entry key="tThree" value-ref="t3"/> -->
        <!--     </map> -->
        <!-- </property> -->
        <!-- 引用外部map -->
        <property name="teacherMap" ref="teacherMap"/>
    </bean>

    <bean id="t1" class="usts.pycro.spring.test.pojo.Teacher">
        <property name="tid" value="101"/>
        <property name="tname" value="Mr.Johnson"/>
    </bean>
    <bean id="t2" class="usts.pycro.spring.test.pojo.Teacher">
        <property name="tid" value="102"/>
        <property name="tname" value="Mr.Smith"/>
    </bean>
    <bean id="t3" class="usts.pycro.spring.test.pojo.Teacher">
        <property name="tid" value="103"/>
        <property name="tname" value="Mr.Joe"/>
    </bean>
    <bean id="clazz1" class="usts.pycro.spring.test.pojo.Clazz">
        <property name="cid" value="233"/>
        <property name="cname" value="鲁班"/>
        <!-- <property name="students"> -->
        <!--     <list> -->
        <!--         <ref bean="stu1"/> -->
        <!--         <ref bean="stu2"/> -->
        <!--         <ref bean="stu3"/> -->
        <!--         <ref bean="stu4"/> -->
        <!--         <ref bean="stu5"/> -->
        <!--     </list> -->
        <!-- </property> -->
        <property name="students" ref="stuList"/>
    </bean>

    <!-- 引用list类型的bean，注意引入util约束 -->
    <!-- xmlns:util="http://www.springframework.org/schema/util" -->
    <util:list id="stuList">
        <ref bean="stu1"/>
        <ref bean="stu2"/>
        <ref bean="stu3"/>
    </util:list>

    <!-- 引用map类型的bean -->
    <util:map id="teacherMap">
        <entry key="tOne" value-ref="t1"/>
        <entry key="tTwo" value-ref="t2"/>
        <entry key="tThree" value-ref="t3"/>
    </util:map>

    <!-- 使用p命名空间（p即property） -->
    <bean id="stu6" class="usts.pycro.spring.test.pojo.Student"
          p:sid="1005"
          p:sname="小明"
          p:age="20"
          p:gender="男"
          p:teacherMap-ref="teacherMap"
    />


</beans>